## Visualizing Data with Pandas and MatPlotLib

### As a Data Analyst, I want to set up the proper imports so I have access to the Pandas and MatPlotLib libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

### As a Data Analyst, I want to import and store the `ufo_sightings.csv` file in a variable

In [4]:
df = pd.read_csv('ufo_sightings.csv', index_col='#')
df

,Date_Time,City,State/Province,Country,UFO_Shape,Length_of_Encounter,Described_Duration,Description,Date_Documented,Latitude,Longitude
#,,,,,,,,,,,
0,10/10/1949 20:30,San Marcos,TX,US,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
1,10/10/1949 21:00,Lackland Afb,TX,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082
2,10/10/1955 17:00,Chester (Uk/England),NaN,GB,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667
3,10/10/1956 21:00,Edna,TX,US,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833
4,10/10/1960 20:00,Kaneohe,HI,US,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611
...,...,...,...,...,...,...,...,...,...,...,...
65531,8/12/2011 23:15,Yonkers,NY,US,light,3600.0,1 hour,Blinking lights in the sky not moving then dis...,8/21/2011,40.931111,-73.899167
65532,8/12/2011 23:27,Mandeville,LA,US,sphere,60.0,1 minute,Silent orange/red illuminated jagged spherical...,8/21/2011,30.358056,-90.065556
65533,8/12/2012 00:00,Davis,CA,US,unknown,900.0,15 mins,Multi colored lights seen heading northeast ov...,8/19/2012,38.545000,-121.739444
65534,8/12/2012 00:00,Peoria,IL,US,circle,40.0,40 seconds,Orange orb over peoria il,8/19/2012,40.693611,-89.588889
65535,8/12/2012 00:15,Barron,WI,US,formation,5.0,5 seconds,Five witnesses (Including myself) were watchin...,10/30/2012,45.401389,-91.848889

### As a Data Analyst, I want to ensure my DataFrame is cleaned by removing any **null** values

In [8]:
nonnull_df = df.dropna()
nonnull_df

,Date_Time,City,State/Province,Country,UFO_Shape,Length_of_Encounter,Described_Duration,Description,Date_Documented,Latitude,Longitude
#,,,,,,,,,,,
0,10/10/1949 20:30,San Marcos,TX,US,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
3,10/10/1956 21:00,Edna,TX,US,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833
4,10/10/1960 20:00,Kaneohe,HI,US,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611
5,10/10/1961 19:00,Bristol,TN,US,sphere,300.0,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595000,-82.188889
7,10/10/1965 23:45,Norwalk,CT,US,disk,1200.0,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.117500,-73.408333
...,...,...,...,...,...,...,...,...,...,...,...
65531,8/12/2011 23:15,Yonkers,NY,US,light,3600.0,1 hour,Blinking lights in the sky not moving then dis...,8/21/2011,40.931111,-73.899167
65532,8/12/2011 23:27,Mandeville,LA,US,sphere,60.0,1 minute,Silent orange/red illuminated jagged spherical...,8/21/2011,30.358056,-90.065556
65533,8/12/2012 00:00,Davis,CA,US,unknown,900.0,15 mins,Multi colored lights seen heading northeast ov...,8/19/2012,38.545000,-121.739444
65534,8/12/2012 00:00,Peoria,IL,US,circle,40.0,40 seconds,Orange orb over peoria il,8/19/2012,40.693611,-89.588889
65535,8/12/2012 00:15,Barron,WI,US,formation,5.0,5 seconds,Five witnesses (Including myself) were watchin...,10/30/2012,45.401389,-91.848889

### As a Data Analyst, I want to filter my DataFrame to remove any information that is not related to my analysis
* This will include **dropping** the **Described_Duration, Description, and Date_Documented** columns

### As a Data Analyst, I want to convert the `Date_Time` column to utilize Pandas' DateTime data type

## Data Visualization with Matplotlib

### As a Data Analyst, I want to visualize the **frequency of different UFO shapes**, to determine which UFO shapes are most commonly encountered
* I will use a **Bar Graph** to visualize this data
* I will include a label for the X and Y axis
* I will include a name for my chart

### As a Data Analyst, I want to visualize the **number of UFO encounters**, grouped by each decade, to see if there is a correlation between number of sightings and decade
* I will use a **Bar Graph** to visualize this data
* I will include a label for the X and Y axis
* I will include a name for my chart

### As a Data Analyst, I want to create a **Line Graph** to visualize the **Frequency of UFO sightings, by hour of the day**
* I will use a **Line Graph** to visualize this data
* I will include a label for the X and Y axis
* I will include a name for my chart

### As a Data Analyst, I want to answer all questions in the following Markdown block to provide a **clear and detailed analysis of my UFO sighting findings**

1. Which UFO shape is the most frequently reported? 
    * Q1 Answer

2. Which shape is least frequently reported?
    * Q2 Answer

3. Based on your analysis, what times of the day have the highest number of UFO sightings? 
    * Q3 Answer

4. Are there other factors that may account for this pattern in the data?
    * Q4 Answer

5. Do you see any surprising trends in the breakdown by decade? Do you have any theories or ideas that may explain these patterns?
    * Q5 Answer

6. Based on your data analysis, what recommendation would you give to individuals interested in encountering a UFO?
    * For example, what time would be best to look, what UFO shapes should they expect to see, etc.
    * Q6 Answer

### **Bonus:** As a Data Analyst, I want to visualize the frequency of **different UFO shape sightings for Virginia, Wisconsin, and Tennessee**, to see if there is any variation of UFO shape frequency between states
* I will use a **Stacked Bar Graph** to visualize this data
* I will include a label for the X and Y axis
* I will include a name for my chart